	
	@charset "UTF-8";
	
	h1{
		padding-bottom: 0.5em;
		padding-left: 0.5em;
	}
	form {
		border: 0.1em solid #debead;
		padding: 0.7em 0 0 0.7em;
		width: 17em;
	}
	form input{
		background-color: white;
		color: black;
		padding: 0.1em;
		font-size: 1em;
	}
	p {
		margin-bottom: 0.5em;
	}
	#help{
	padding-top: 0.5em;
	}
	#help p, a{
	font-size: 0.7em;
	}

