@charset "ISO-8859-1";

header
{
	height: 100px;
	overflow: hidden;
}
article
{
	background-color: #bbdac0;
}
footer
{
	height: 100px;
}
.thumbnail
{
	float: left;
	width: 15%;
	height: 95%;
	margin-bottom: 2em;
}
.desc
{
	overflow: hidden;	
	height: 4.5em;

}
.post
{
	height: 8em;
	border: 0.1em solid #debead;
	padding: 0.7em 0 0 0.7em;
	width: 80%;
	margin-left: 3em;
	margin-top: 2em;
	margin-bottom: 2em;
}
.commentButton
{
	display: inline-block;
	height: 1.5em;
	margin-top: 1.5em;
	margin-right: 0.2em;
}
.postDate
{
	height: 200px;
}
ul
{
	list-style-type: none;
	float: right;
}
li
{
	display: inline;
}

.things
{
	margin-left: 1em;
	float:left;
}
h1{
	margin-bottom: 0.5em;
}
.content
{
	float: left;
	width:70%;
	margin-left: 1em;
	height: 50%;
}
#newPostButton
{
	margin-left: 3em;
	margin-bottom: 0.5em;
	float: left;
	display: inline-block;
}
#searchBar
{
	width: 50%;
	margin-left: 3em;
}
#search
{
	width: 40%;
	float: left;
	margin-left: 3em;
}
nav
{
	margin-right: 3em;
}
