@charset "ISO-8859-1";

header
{
	height: 100px;
	overflow: hidden;
}
article
{
	background-color: #bbdac0;
}
footer
{
	height: 100px;
}
.thumbnail
{
	float: left;
	width: 15%;
	height: 95%;
	margin-bottom: 2em;
}
.desc
{
	padding: 0.1em 0.7em 0.7em 0;
	overflow: auto;	
	margin-top: -0.3em;
}
.post
{
	border: 0.1em solid #debead;
	padding: 0.7em 0 0.7em 0.7em;
	margin-bottom: 2em;
	overflow: auto;
}
.commentButton
{
	display: inline-block;
	height: 1.5em;
	margin-top: 1.5em;
}
.things
{
	border-bottom: 0.1em solid #debead;
	border-left: 0.1em solid #debead;
	padding: 0.2em 0.2em 0.2em 0.2em;
}
ul
{
	list-style-type: none;
	float: right;
}
li
{
	display: inline;
}

.things
{
	margin-left: 1em;
	float:left;
}
h1{
	margin-bottom: 0.5em;
}
.content
{
	float: left;
	width:70%;
	margin-left: 1em;
}

.user
{
	font-style: italic;
	font-weight: bold;
	margin-left: 1em;
}
.comment
{
	margin-left: 3em;
	padding-top: 0.25em;
	font-size: 0.85em;
}

.comments div
{
	border: 0.1em solid #debead;
	padding: 0.7em 0 0.7em 0.7em;
	margin-top: 2em;
	overflow: auto;
	border-collapse: collapse;
}
.reply
{
	border-collapse: collapse;
	margin-left: 6em;
}
time{
	font-weight: normal;
}
